<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
</head>
<body>
<p>Hello {{.Name}}</p>
<p>Welcome to the Playtest Co-op! We appreciate you jumping into the community and hope you can get started by uploading your games and leaving feedback for other designers.</p>
<p>But first, please confirm your new email address by clicking <a href="{{.URL}}">this link.</a></p>
<p>Happy prototyping,</p>
<p>Your friends at Playtest Co-op</p>
</body>
</html>
